<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Registro</title>
</head>

<body>
  <h1>Registro de nuevo usuario 👤</h1>
  <form action="/register" method="post">
    {{ csrfField() }}
    <label for="username">Nombre de usuario:</label><br>
    <input type="text" name="username"><br>

    <label for="email">Correo electrónico:</label><br>
    <input type="email" name="email"><br>

    <label for="password">Contraseña:</label><br>
    <input type="password" id="password" name="password"><br>

    <input type="submit" value="Registrarse">
  </form>
</body>

</html>