<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Registro</title>
</head>

<body>
  <h1>Registro de nuevo usuario 👤</h1>
  <form action="/register" method="post">
    {{ csrfField() }}
    <label for="username">Nombre de usuario:</label><br>
    <input type="text" name="username" value="{{ old('username', '') }}"><br>
    {{ elIf('<span>$self</span><br>', getErrorFor('username'), hasErrorFor('username')) }}
    <label for="email">Correo electrónico:</label><br>
    <input type="email" name="email" value="{{ old('email', '') }}"><br>
    {{ elIf('<span>$self</span><br>', getErrorFor('email'), hasErrorFor('email')) }}
    <label for="password">Contraseña:</label><br>
    {{ elIf('<span>$self</span><br>', getErrorFor('password'), hasErrorFor('password')) }}
    <input type="password" id="password" name="password"><br>
    <br>
    <input type="submit" value="Registrarse">
  </form>
</body>

</html>