<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Hola</title>
</head>

<body>
  <h1>Hola</h1>
  @loggedIn
  <p>Bienvenido, {{ auth.user.username }} ✋</p>
  @else
  <p>No haz iniciado sesión 💔</p>
  @endloggedIn
</body>

</html>